body {
	margin: 0;
	color: #555c5e;
	font: 16px/24px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	background: #f5f5f5;
	min-width: 1024px;
}
img { border-style: none; }
a {
	text-decoration: none;
	color: #555c5e;
}
a:hover { text-decoration: underline; }
a:active { background-color: transparent; }
input, textarea, select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #afb9bc;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
input[type="text"], input[type="submit"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], input[type="search"], input[type="radio"], input[type="checkbox"], textarea { -webkit-appearance: none; }
::-webkit-input-placeholder {
 color: #afb9bc;
}
:-moz-placeholder {
 color: #afb9bc;
}
::-moz-placeholder {
 color: #afb9bc;
 opacity: 1;
}
:-ms-input-placeholder {
 color: #999;
}
#header {
	padding: 20px 4% 0;
	background: url(../images/separator.jpg) repeat-x 0 100% #fff;
}
#header:after {
	display: block;
	clear: both;
	content: '';
}
.logo {
	background: url(../images/sprite.png) no-repeat;
	width: 118px;
	height: 59px;
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	margin: 2px 6.3% 0 0;
}
.logo a {
	display: block;
	height: 100%;
}
.user-nav-area {
	float: left;
	color: #555c5e;
	font: 700 18px/24px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 45px 0 0;
}
.user-nav-area .user-nav-heading {
	float: left;
	margin: 8px 17px 0 0;
}
.user-nav { float: left; }
.user-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-transform: capitalize;
}
.user-nav ul li {
	float: left;
	margin: 0 0 0 14px;
}
.user-nav ul li:first-child { margin: 0; }
.user-nav ul li a {
	display: block;
	padding: 8px 26px 10px 35px;
	font: 17px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.user-nav ul li a:hover, .user-nav ul li.active a {
	text-decoration: none;
	background: #f5f5f5;
	border: 1px solid;
	padding: 7px 25px 9px 34px;
	border-color: #d6d6d6 #eaeaea #f5f5f5 #eaeaea;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}
.nav-holder { float: right; }
#nav {
	float: left;
	padding: 18px 24px 26px 0;
	border-right: 1px solid #d3dadd;
}
#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font: 17px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
#nav ul:after {
	display: block;
	clear: both;
	content: '';
}
#nav ul li {
	float: left;
	margin: 0 0 0 31px;
}
#nav ul li:first-child { margin: 0; }
#nav ul li a {
	display: block;
	color: #555c5e;
	position: relative;
}
#nav ul li a:hover { text-decoration: none; }
#nav ul li a:hover:after, #nav ul li.active a:after {
	content: '';
	position: absolute;
	bottom: -63px;
	left:50%;
	background: url(../images/arrow1.png) no-repeat;
	width: 34px;
	height: 20px;
	margin:0 0 0 -17px;
}
#nav ul li.home a {
	background: url(../images/sprite.png) no-repeat -1px -89px;
	padding: 0 0 0 31px;
}
#nav ul li.home a:hover, #nav ul li.home.active a { background: url(../images/sprite.png) no-repeat -2px -148px; }
#nav ul li.deals a {
	background: url(../images/sprite.png) no-repeat -45px -177px;
	padding: 0 0 0 34px;
}
#nav ul li.deals a:hover, #nav ul li.deals.active a { background: url(../images/sprite.png) no-repeat -45px -239px; }
#nav ul li.finance a {
	background: url(../images/sprite.png) no-repeat -98px -273px;
	padding: 0 0 0 18px;
}
#nav ul li.finance a:hover, #nav ul li.finance.active a { background: url(../images/sprite.png) no-repeat -98px -313px; }
#nav ul li.network a {
	background: url(../images/sprite.png) no-repeat -126px -353px;
	padding: 0 0 0 30px;
}
#nav ul li.network a:hover, #nav ul li.network.active a { background: url(../images/sprite.png) no-repeat -126px -395px; }
.setting-holder {
	float: right;
	margin: 17px 0 22px;
	padding: 0 0 0 12px;
	position: relative;
}
.setting-holder .number {
	position: absolute;
	top: -13px;
	right: 8px;
	font: 700 14px/19px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fb435f;
	text-align: center;
	z-index: 9;
}
.setting-holder .holder { position: relative; }
.setting-holder .holder a:hover { text-decoration: none; }
.setting-holder img {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.setting-holder .arrow {
	background: url(../images/sprite.png) no-repeat -6px -455px;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 9px;
	text-indent: -9999px;
	overflow: hidden;
}
.setting-holder:hover .setting-area { display: block; }
.setting-area {
	width: 161px;
	background: #fff;
	padding: 10px 18px 15px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.28);
	box-shadow: 0 0 3px rgba(0,0,0,.28);
	position: absolute;
	top: 48px;
	left: -117px;
	font: 14px/18px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	display: none;
	z-index: 40000;
}
.setting-area:after {
	content: '';
	position: absolute;
	right: 21px;
	top: -19px;
	background: url(../images/arrow.jpg) no-repeat;
	width: 33px;
	height: 19px;
}
.setting-area .heading {
	font: 17px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
	display: block;
	padding: 0 0 12px;
	margin: 0 0 15px;
	border-bottom: 1px solid #d3dadd;
}
.setting-area .setting-info {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.setting-info li { margin: 0 0 12px; }
.setting-info li a { color: #555c5e; }
.setting-info li a:hover, .setting-info li.active a {
	text-decoration: none;
	color: #26ade3;
}
#main {
	overflow: hidden;
	padding: 32px 4% 95px;
}
#main .heading-area {
	overflow: hidden;
	margin: 0 0 23px;
	border-bottom: 1px solid #d3dadd;
	padding: 0 0 38px;
}
#main .heading-area h1 {
	color: #555c5e;
	margin: 0;
	float: left;
	font: 700 40px/46px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
#main .heading-area .btn-area {
	float: right;
	text-align: center;
	font: 700 16px/47px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.heading-area .deal {
	min-width: 143px;
	float: right;
	background: #fb435f;
	padding: 0 10px;
	color: #fff;
	text-transform: capitalize;
}
.heading-area .deal:hover {
	background: #fc8597;
	text-decoration: none;
}

.heading-area .btn-area .secondary {
	min-width: 158px;
	float: right;
	background: #26ade3;
	color: #fff;
	padding: 0 10px;
	margin: 0 0 0 15px;
}
.heading-area .btn-area .secondary:hover {
	background: #7BC6E4;
	text-decoration: none;
}


.heading-area .btn-area .tertiary {
	min-width: 158px;
	float: right;
	background: #555c5e;
	color: #fff;
	padding: 0 10px;
	margin: 0 0 0 15px;
}
.heading-area .btn-area .tertiary:hover {
	background: #9ba9ad;
	text-decoration: none;
}
.heading-area .btn-area .mavens {
	width: 123px;
	float: right;
	background: url(../images/sprite.png) no-repeat #26ade3 -452px 14px;
	padding: 0 10px 0 34px;
	margin: 0 0 0 15px;
	color: #fff;
}
.heading-area .btn-area .mavens:hover {
	background: url(../images/sprite.png) no-repeat #7bc6e4 -408px -28px;
	text-decoration: none;
}
.heading-area .btn-area .setting {
	width: 52px;
	float: right;
	height: 47px;
	margin: 0 0 0 15px;
	background: url(../images/sprite.png) no-repeat -458px -107px #d3dadd;
	text-indent: -9999px;
	overflow: hidden;
}
.heading-area .btn-area .setting:hover { background: url(../images/sprite.png) no-repeat -411px -153px #555c5e; }
.navitem-area {
	overflow: hidden;
	border-bottom: 1px solid #d3dadd;
	padding: 0 0 27px;
	margin: 0 0 43px;
}
.navitem-area.add {
	border: none;
	padding: 0;
	margin: 0 0 19px;
}
.navitem-area.add1 {
	margin: -11px 0 33px;
	padding: 0 0 15px;
}
.navitem-area .navitem-holder {
	overflow: hidden;
	width: 70%;
}
.navitem-holder h2 {
	color: #555c5e;
	font: 700 22px/26px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	float: left;
	margin: 0;
	text-transform: capitalize;
}
.navitem-area .navitem {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
	font: 700 16px/20px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.navitem-area .navitem li {
	float: left;
	margin: 0 23px 0 0;
}
.navitem-area .navitem li a { color: #555c5e; }
.navitem-area .navitem li a:hover{
	text-decoration: none;
	color:#ccc;
}
.navitem-area .navitem li.active a {
	text-decoration: none;
	color:#44a9ed;
}
.navitem-area .help {
	color: #555c5e;
	font: 14px/18px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	float: right;
	margin: 5px 0 0;
}
.navitem-area.add1 .help { margin: 15px 0 0; }
.navitem-area .help a { color: #555c5e; }
.navitem-area .sort-area {
	display: inline-block;
	vertical-align: middle;
	color: #555c5e;
	width: 70%;
	font: 700 16px/47px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}

.navitem-area .sort-area.short_form {
	width: 60%;
}


.navitem-area .sort-area .sort-select {
	width: 24%;
	overflow: hidden;
	margin: 0 0 0 26px;
	float: left;
	min-width: 126px;
}
.button-rollover-holder {
	overflow: hidden;
	border-bottom: 1px solid #d3dadd;
	padding: 0 0 40px;
	margin: 0 0 53px;
}
.button-rollover-area {
	float: left;
	width: 70%;
}
.button-rollover-area h2 {
	color: #555c5e;
	font: 700 22px/26px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 41px;
	text-transform: capitalize;
}
.button-rollover-area h3 {
	color: #555c5e;
	font: 700 12px/16px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 25px;
	text-transform: capitalize;
	text-align: center;
}
.buttons-area {
	overflow: hidden;
	margin: 0 0 0 12px;
}
.buttons-area .buttons-holder {
	float: right;
	width: 43.9%;
}
.buttons-area .buttons-holder:first-child {
	float: left;
	width: 46.6%;
}
.buttons-holder .buttons-state {
	float: right;
	width: 42%;
}
.buttons-holder .buttons-state.add { width: 48%; }
.buttons-holder .buttons-state:first-child {
	float: left;
	margin: 0 5.3% 0 0;
}
.buttons-state-holder { width: 119px; }
.buttons-state ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font: 700 16px/47px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.buttons-state ul:after {
	display: block;
	clear: both;
	content: '';
}
a.btn {
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	padding: 13px 10px;
	text-align: center;
}
a.btn,
.buttons-state ul li { margin: 0 0 27px; }

.buttons-state ul li a {
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	text-align: center;
}
a.btn:hover,
.buttons-state ul li a:hover { text-decoration: none; }

a.btn.primary,
.buttons-state ul li.primary a {
	min-width: 143px;
	background: #fb435f;
}
a.btn.primary:hover,
.buttons-state ul li.primary a:hover, .buttons-state ul li.primary.hover a { background: #fc8597; }
a.btn.secondary,
.buttons-state ul li.secondary a {
	min-width: 157px;
	background: #26ade3;
}
a.btn.secondary:hover,
.buttons-state ul li.secondary a:hover, .buttons-state ul li.secondary.hover a { background: #7bc6e4; }
.buttons-state ul li.tertiary a {
	min-width: 145px;
	background: #555c5e;
}
.buttons-state ul li.tertiary a:hover, .buttons-state ul li.tertiary.hover a { background: #9ba9ad; }
.buttons-state ul li.mavens a {
	min-width: 123px;
	background: url(../images/sprite.png) no-repeat #26ade3 -452px 14px;
	padding: 0 10px 0 34px;
}
.buttons-state ul li.mavens a:hover, .buttons-state ul li.mavens.hover a { background: url(../images/sprite.png) no-repeat #7bc6e4 -408px -28px; }
a.btn.pending,
.buttons-state ul li.pending a {
	min-width: 99px;
	background: #4dbcea;
}
a.btn.pending:hover,
.buttons-state ul li.pending a:hover { background: #ea4d4d; }
a.btn.refused,
.buttons-state ul li.refused { margin: 0 0 35px; }
a.btn.refused,
.buttons-state ul li.refused a {
	min-width: 99px;
	background: #555c5e;
}
a.btn.refused:hover,
.buttons-state ul li.refused a:hover { background: #8bc240; }
a.btn.refuse,
.buttons-state ul li.refuse a {
	min-width: 99px;
	background: #ea4d4d;
}
a.btn.refuse:hover,
.buttons-state ul li.refuse a:hover { text-decoration: underline; }
a.btn.reinstate,
.buttons-state ul li.reinstate { margin: 0 0 35px; }
a.btn.reinstate,
.buttons-state ul li.reinstate a {
	min-width: 99px;
	background: #8bc240;
}
a.btn.reinstate:hover,
.buttons-state ul li.reinstate a:hover { text-decoration: underline; }
.buttons-state ul li.setting {
	text-align: center;
	margin: 0 0 59px;
}
.buttons-state ul li.setting a {
	width: 52px;
	height: 47px;
	padding: 0;
	background: url(../images/sprite.png) no-repeat -458px -107px #d3dadd;
	text-indent: -9999px;
	overflow: hidden;
}
.buttons-state ul li.setting a:hover, .buttons-state ul li.setting.hover a { background: url(../images/sprite.png) no-repeat -411px -153px #555c5e; }
.buttons-state .text { font: 700 16px/20px 'Lato', sans-serif, Arial, Helvetica, sans-serif; }
.buttons-state .text a { color: #26ade3; }
.buttons-state .text a:hover, .buttons-state .text.hover a {
	color: #1f8ab5;
	text-decoration: none;
}
.color-holder {
	float: right;
	width: 22.5%;
}
.color-holder h2 {
	color: #555c5e;
	font: 700 22px/26px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 76px;
	text-transform: capitalize;
}
.color-holder ul {
	overflow: hidden;
	list-style: none;
	padding: 3px 0 0;
	margin: 0;
	color: #fff;
	font: 700 16px/47px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.color-holder ul li {
	position: relative;
	padding: 0 18px;
}
.color-holder ul li.color1 {
	background: #fb435f;
	width: 78.4%;
}
.color-holder ul li.color2 {
	background: #26ade3;
	width: 66%;
}
.color-holder ul li.color3 {
	background: #555c5e;
	width: 52%;
}
.color-holder ul li.color4 {
	background: #d3dadd;
	width: 37%;
}
.form-elements-holder {
	overflow: hidden;
	border-bottom: 1px solid #d3dadd;
	padding: 0 42px 68px 0;
	margin: 0 0 36px;
}
.form-elements-holder .search-holder {
	float: left;
	width: 34.4%;
}
.search-holder h2 {
	font: 700 22px/26px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
	margin: 0 0 50px;
}
.search-holder .text-holder {
	width: 100%;
	margin: 0 0 30px;
	border: 1px solid #d3dadd;
	overflow: hidden;
}
.text-holder .text-area { overflow: hidden; }
.text-holder .text-area input[type="text"] {
	border: none;
	margin: 0;
	float: left;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #edefef;
	font: 16px/19px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	height: 45px;
	padding: 10px 17px;
	color: #afb9bc;
	outline: none;
}
.search-area {
	overflow: hidden;
	position: relative;
}
.search-holder input[type="search"], .search-holder input[type="text"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #d3dadd;
	height: 45px;
	padding: 10px 55px 10px 20px;
	outline: none;
	float: left;
	font: 16px/19px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	background: #edefef;
}
.search-area input[type="submit"] {
	background: url(../images/bg-search.png) no-repeat 97% 11px;
	width: 25px;
	height: 45px;
	border: none;
	cursor: pointer;
	color: #fff;
	font: 16px/45px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	padding: 0;
	position: absolute;
	right: 12px;
	text-indent: -9999px;
	overflow: hidden;
	top: 0;
}
.search-holder .text-holder input[type="submit"] {
	background: #fb435f;
	width: 116px;
	height: 45px;
	border: none;
	cursor: pointer;
	color: #fff;
	font: 16px/45px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	padding: 0;
	float: right;
	text-align: center;
}
.select-area-holder {
	float: right;
	width: 41.3%;
	margin: 3px 0 0;
}
.select-area-holder .select-holder {
	overflow: hidden;
	margin: 0 0 29px;
	width: 59.1%;
}
.select-area-holder .select-frame {
	float: left;
	margin: 0;
	color: #555c5e;
	width: 68.3%;
	font: 700 16px/46px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.go_btn,
.select-area-holder input[type="submit"] {
	background: #555c5e;
	width: 81px;
	height: 46px;
	border: none;
	cursor: pointer;
	color: #fff;
	font: 16px/46px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	padding: 0;
	float: right;
	text-align: center;
}
.select-area-holder .input-holder {
	overflow: hidden;
	margin: 0 0 32px;
}
.input-holder label {
	color: #555c5e;
	font: 700 16px/20px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	display: block;
	margin: 0 0 9px;
}
.input-holder input[type="text"] {
	border: 1px solid #d3dadd;
	margin: 0;
	float: left;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #eaeced;
	font: 16px/19px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	height: 56px;
	padding: 16px 13px;
	color: #bdbfbf;
	outline: none;
}
.select-area-holder .select {
	overflow: hidden;
	width: 100%;
	font: 700 16px/56px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.payment-holder {
	border-bottom: 1px solid #d3dadd;
	margin: 0 0 40px;
	padding: 0 0 44px;
}
.payment-holder:after {
	display: block;
	clear: both;
	content: '';
}
.payment-holder h2 {
	color: #555c5e;
	font: 700 22px/26px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
	text-transform: capitalize;
}
.payment-area {
	background: #fff;
	margin: 0 0 23px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.14);
	box-shadow: 0 0 3px rgba(0,0,0,.14);
	padding: 38px 2% 41px;
	position: relative;
	text-align:center;
}
.payment-area:after {
	display: block;
	clear: both;
	content: '';
}
.payment-area .payment {
	list-style: none;
	padding: 0;
	margin: 0;
	display:inline-block;
	vertical-align:middle;
	width: 100%;
}
.payment-area .payment li {
	display:inline-block;
	vertical-align:middle;
	padding: 0 7.5% 35px;
	margin:0 0 0 -4px;
	border-left: 1px solid #d3dadd;
}
.payment-area .payment li.add { border: none; }
.payment-area .payment li:first-child {
	border: none;
}
.payment-area .paymnent-block {
	position: absolute;
	top: 0;
	left: -232px;
	width: 195px;
	text-align: left;
	background: #fff;
	padding: 19px 19px 12px 25px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.14);
	box-shadow: 0 0 3px rgba(0,0,0,.14);
	display: none;
}
.payment-area .paymnent-block:after {
	left: 100%;
	top: 55%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 12px;
	margin-top: -15px;
}
.paymnent-block dl {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.paymnent-block dl dt {
	float: left;
	width: 111px;
	text-align: right;
	padding: 0 19px 0 0;
	color: #555c5e;
	font: 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 8px;
}
.paymnent-block dl dd {
	overflow: hidden;
	font: 300 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
	margin: 0 0 8px;
	text-align: right;
}
.paymnent-block .total {
	border-top: 1px solid #f3f3f3;
	padding: 15px 19px 0 0;
	margin: 10px 0;
}
.paymnent-block .total-price {
	border-top: 1px solid #f3f3f3;
	padding: 15px 0 0;
	margin: 18px 0 10px;
}
.payment-area .payment li .heading {
	color: #555c5e;
	font: 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	display: block;
	width: 250px;
	margin: 0 0 23px;
}
.payment-area .payment li .box-holder {
	background: #26ade3;
	width:110px;
	height:110px;
	border: 6px solid #8cd8f8;
	margin: 0 auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	cursor: pointer;
	position: relative;
}
.payment-area .payment li .box-frame {
	width: 110px;
	display: table;
	height: 110px;
}
.payment-area .payment li .box {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.payment-area .payment li .box-holder:hover .paymnent-block { display: block; }
.payment li .box .month {
	color: #fff;
	font: 700 26px/30px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	display: block;
	margin: 0 0 -6px;
}
.payment li .box time {
	font: 700 36px/44px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	display: block;
	color: #fff;
}
.payment li .box .price {
	display: block;
	color: #fff;
	font: 700 24px/30px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.payment-area .help {
	position: absolute;
	right: -12px;
	top: -12px;
}
.payment-area .help img { display: block; }
.view {
	min-width: 112px;
	padding: 0 21px;
	color: #fff;
	float: right;
	text-transform: capitalize;
	text-align: center;
	font: 700 16px/46px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	background: #555c5e;
}
.view:hover {
	text-decoration: none;
	background: #9ba9ad;
}
.overview-area {
	border-bottom: 1px solid #d3dadd;
	padding: 0 0 44px;
	margin: 0 0 42px;
}
.overview-area:after {
	display: block;
	clear: both;
	content: '';
}
.connectoin-area {
	border: none;
	padding: 0;
	margin: 0 0 40px;
}
.connectoin-area .connectoin {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0 0 0 -4%;
}
.connectoin-area .connectoin li {
	margin: 0 0 38px 4%;
	display: inline-block;
	vertical-align: middle;
	border: none;
	padding: 0;
	width: 28.9%;
	overflow: inherit;
}
.connectoin-area .connectoin li .image-holder {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px 0 0;
}
.connectoin-area .connectoin li .image-holder img { display: block; }
.connectoin-area .connectoin li .description {
	display: inline-block;
	vertical-align: middle;
}
.connectoin li .description h3 {
	color: #26ade3;
	font: 700 15px/18px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 4px;
}
.connectoin li .description h3 a { color: #26ade3; }
.connectoin li .description h3 a:hover {
	text-decoration:none;
	color:#1f8ab5;
}
.connectoin li .description .city {
	color: #555c5e;
	font: 12px/16px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	display: block;
}
.overview-area .number-overview {
	float: left;
	width: 48.5%;
}
.overview-area h2 {
	font: 700 22px/28px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
	color: #555c5e;
}
.number-overview-holder {
	overflow: hidden;
	margin: 0 0 25px;
	background: #fff;
	padding: 25px 35px 17px 30px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.14);
	box-shadow: 0 0 3px rgba(0,0,0,.14);
}
.number-overview-holder ul {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}
.number-overview-holder ul li {
	border-bottom: 1px solid #d3dadd;
	padding: 0 0 10px;
	margin: 0 0 30px;
	overflow: hidden;
}
.number-overview-holder ul li .text {
	float: left;
	color: #555c5e;
	font: 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.number-overview-holder ul li .number {
	float: right;
	color: #555c5e;
	font: 700 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.bar-overview-area {
	float: right;
	width: 48.5%;
}
.bar-overview {
	overflow: hidden;
	margin: 0 0 25px;
	background: #fff;
	padding: 24px 33px 18px 34px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.14);
	box-shadow: 0 0 3px rgba(0,0,0,.14);
}
.connectoin-area .bar-overview { padding: 24px 3% 10px 4%; }
.bar-overview .referrals-area {
	overflow: hidden;
	margin: 0 0 32px;
}
.bar-overview .referrals-area h3 {
	color: #555c5e;
	font: 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 15px;
}
.referrals-area .progress-bar {
	overflow: hidden;
	margin: 0 0 7px;
	height: 19px;
	background: #e7e8e8;
	width: 98.8%;
}
.progress-bar .bar {
	background: #fb435f;
	float: left;
	width: 236px;
	text-indent: -9999px;
	overflow: hidden;
}
.referrals-area .percantage-area { position: relative; }
.referrals-area .percantage-area:after {
	display: block;
	clear: both;
	content: '';
}
.referrals-area .percantage-area .number {
	width: 210px;
	color: #555c5e;
	float: left;
	font: 700 16px/20px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.percantage-area .percantage {
	position: relative;
	float: left;
	width: 48px;
	margin: 3px 0 0;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font: 700 16px/28px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	background: #e7e8e8;
}
.percantage-area .percantage:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(231, 232, 232, 0);
	border-bottom-color: #e7e8e8;
	border-width: 5px;
	margin-left: -5px;
}
.bar-overview ul {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}
.bar-overview ul li {
	border-bottom: 1px solid #d3dadd;
	padding: 0 0 11px;
	margin: 0 0 31px;
	overflow: hidden;
}
.bar-overview ul li .text {
	float: left;
	color: #555c5e;
	font: 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.bar-overview ul li .number {
	float: right;
	color: #555c5e;
	font: 700 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.daashboard-area { position: relative; }
.daashboard-area:after {
	display: block;
	clear: both;
	content: '';
}
.daashboard-area h2 {
	color: #555c5e;
	font: 700 22px/26px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 26px;
	text-transform: capitalize;
}
.daashboard-area .invites_sent h2  {
	text-transform: none;
}
.daashboard-holder {
	margin: 0 0 25px;
	background: #fff;
	position: relative;
	padding: 9px 42px 48px 38px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.14);
	box-shadow: 0 0 3px rgba(0,0,0,.14);
}
.daashboard-holder:after {
	display: block;
	clear: both;
	content: '';
}
.daashboard-frame {
	overflow: hidden;
	width: 100%;
	border-collapse: collapse;
}
.daashboard-frame thead td {
	color: #555c5e;
	padding: 17px 0 19px;
	vertical-align: top;
	font: 700 16px/20px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.daashboard-frame tbody td {
	border-top: 1px solid #d3dadd;
	padding: 32px 0;
	vertical-align: top;
}
.daashboard-frame .col1 { width: 33.8%; }
.notifications .col1 {width: 23%;}
.daashboard-frame .col1 img {
	float: left;
	margin: -13px 27px 10px 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #d4d6d6;
}
.daashboard-frame .col1 h2 {
	color: #26ade3;
	font: 700 18px/24px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0;
	float: left;
}
.daashboard-frame .col1 h2 a { color: #26ade3; }
.daashboard-frame .col1 h2 a:hover {
	text-decoration:none;
	color:#1f8ab5;
}
.daashboard-frame.referral_page .col2 { width: 14.8%; }
.daashboard-frame .col2 { width: 24.2%; }
.invites_sent .col2 { width: 48%;}
.invites_sent .col3 { width: 18%; }
.network_page .col2 { width: 22%;}
.invites_sent .col3 .btn {
	margin-bottom: 0px;
}
.daashboard-frame.referral_page .col5 .meta,
.daashboard-frame .col2 .meta {
	display: block;
	margin: 0;
}
.daashboard-frame.referral_page .col5 .meta .meta-text,
.daashboard-frame .col2 .meta .meta-text {
	font: 700 14px/18px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
}
.daashboard-frame.referral_page .col5 .meta time,
.daashboard-frame .col2 .meta time {
	font: 14px/18px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
}
.daashboard-frame.referral_page .col3 { width: 14.8%; }
.daashboard-frame.notifications .col3  {width: 18%;}
.daashboard-frame .col3 {
	font: 14px/18px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
	width: 17.1%;
}
.daashboard-frame .add { font: 700 16px/20px 'Lato', sans-serif, Arial, Helvetica, sans-serif; }
.daashboard-frame.referral_page .col4 { width: 14.8%; }
.daashboard-frame .col4 { width: 17.1%; }
.finance-page .daashboard-frame .col4 {width: 11% ;}
.daashboard-frame .col4 .mavens {
	min-width: 100px;
	background: url(../images/sprite.png) no-repeat #26ade3 -455px 14px;
	padding: 0 10px 0 53px;
	float: left;
	margin: 6px 0 0;
	font: 700 16px/47px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #fff;
}
.daashboard-frame .col4 .mavens:hover {
	background: url(../images/sprite.png) no-repeat #7bc6e4 -411px -28px;
	text-decoration: none;
}
.daashboard-frame .col4 .setting {
	width: 52px;
	height: 47px;
	background: url(../images/sprite.png) no-repeat -458px -107px #d3dadd;
	text-indent: -9999px;
	overflow: hidden;
	float: right;
	margin: 6px 0 0;
}
.daashboard-frame .col4 .setting:hover { background: url(../images/sprite.png) no-repeat -411px -153px #555c5e; }
.daashboard-holder .help {
	position: absolute;
	right: -12px;
	top: -12px;
}

.daashboard-frame.referral_page .col5 { width: 21.8%; }
.daashboard-holder .help img { display: block; }
.about-deal-area { overflow: hidden; }
.about-deal-area .image-area {
	float: left;
	margin: 2px 0 0;
	width: 48.5%;
	text-align:center;
}
.about-deal-area .image-area .image-holder {
	overflow: hidden;
	margin: 0 0 17px;
	width:100%;
}
.about-deal-area .image-area .image-holder img {
	display: block;
	width:100%;
	height:auto;
}
.image-area .image-list {
	display:inline-block;
	vertical-align:middle;
	list-style: none;
	padding: 0;
	margin: 0 0 0 -16px;
}
.image-area .image-list li {
	float: left;
	margin: 0 0 10px 16px;
}
.image-area .image-list li a {
	border: 3px solid #f5f5f5;
	float: left;
}
.image-area .image-list li a:hover, .image-area .image-list li.active a { border: 3px solid #26ade3; }
.image-area .image-list li a img {
	display: block;
	height: auto;
	width:100%;
}
.about-deal-area .about-deal-text-holder {
	float: right;
	width: 48.4%;
}
.about-deal-text-holder .about-deal-text {
	overflow: hidden;
	border-bottom: 1px solid #d3dadd;
	padding: 0 0 5px;
	margin: 0 0 19px;
	color: #555c5e;
	font: 16px/24px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.about-deal-text-holder .about-deal-text h2 {
	color: #555c5e;
	margin: 0 0 9px;
	font: 700 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.about-deal-text-holder .about-deal-text p {
	margin: 0 0 16px;
	width: 95%;
}
.about-deal-text-holder .about-form {
	overflow: hidden;
	margin: 30px 0 40px;
	width: 57.5%;
}
.about-form .input-holder { overflow: hidden; }
.about-form .input-holder input[type="text"] {
	border: 1px solid #d3dadd;
	border-right: none;
	margin: 0;
	float: left;
	width: 100%;
	text-transform: uppercase;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #edefef;
	font: 16px/19px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	height: 47px;
	padding: 13px 17px;
	color: #afb9bc;
	outline: none;
}
.about-form input[type="submit"] {
	background: #fb435f;
	width: 154px;
	height: 47px;
	border: none;
	cursor: pointer;
	color: #fff;
	font: 700 16px/47px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	padding: 0;
	float: right;
	text-align: center;
}
.about-deal-text-holder .duration-area {
	overflow: hidden;
	color: #555c5e;
	font: 16px/24px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.duration-area h3 {
	background: url(../images/sprite.png) no-repeat -483px -234px;
	margin: 0 0 8px;
	padding: 0 0 0 23px;
	color: #26ade3;
	font: 700 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
#main .form-holder {
	border-bottom: 1px solid #d3dadd;
	padding: 0 0 30px;
	margin: 0 0 36px;
}
#main .form-holder:after {
	display: block;
	clear: both;
	content: '';
}
#main .form-frame {
	background: #fff;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.14);
	box-shadow: 0 0 3px rgba(0,0,0,.14);
	padding: 37px 39px 46px 36px;
	margin: 0 0 6px;
}
#main .form-frame:after {
	display: block;
	clear: both;
	content: '';
}
#main .form-area {
	overflow: hidden;
	border: 1px solid #d3dadd;
}
.form-area .input-area { overflow: hidden; }
.form-area .input-area input[type="text"] {
	border: none;
	border-right: none;
	margin: 0;
	float: left;
	width: 100%;
	text-transform: uppercase;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #f5f6f7;
	font: 300 35px/59px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	height: 59px;
	padding: 0 15px;
	color: #97a0a3;
	outline: none;
}
.form-area input[type="submit"] {
	background: #fb435f;
	width: 254px;
	height: 59px;
	border: none;
	cursor: pointer;
	color: #fff;
	font: 700 18px/59px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	padding: 0;
	float: right;
	text-align: center;
}
.jcf-hidden {
	position: absolute !important;
	left: -9999px !important;
}
.chk-area {
	border: none;
	margin: 6px 3px -8px 0;
	background: url(../images/bg-checkbox.png) no-repeat -3px -3px;
	float: left;
	width: 24px;
	height: 27px;
}
.tab-content .checkbox-heading .chk-area { margin: 5px 3px -10px 0; }
.tab-content .info-area li .info .chk-area {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.chk-checked {
	background: url(../images/bg-checkbox.png) no-repeat -1px -36px;
	margin-top: -6px;
}
.tab-content .checkbox-heading .chk-checked {
	margin-top: 0;
	background: url(../images/bg-checkbox.png) no-repeat -1px -35px;
	margin-top: -3px;
}
.chk-focus { border-color: #f00; }
.chk-disabled { background: #eee; }
.jcf-label-disabled { color: #ccc; }
.select-area {
	border: none;
	position: relative;
	overflow: hidden;
	cursor: default;
	height: 46px;
	float: left;
	background: #d3dadd;
	width: 100% !important;
}
.select-area-holder .select .select-area { height: 56px; }
.select-focus { border-color: #f00; }
.select-area .center {
	white-space: nowrap;
	padding: 3px 15px;
}
.lightbox .mavens-deal .select-deal .select-area .center { padding: 3px 25px; }
.select-disabled { background: #eee; }
.select-area .select-opener {
	background: url(../images/bg-select.png) no-repeat;
	position: absolute;
	height: 6px;
	width: 10px;
	right: 15px;
	top: 21px;
}
.lightbox .mavens-deal .select-deal .select-area .select-opener {
	right: 21px;
	top: 20px;
}
.navitem-area .sort-area .sort-select .select-area .select-opener {
	right: 21px;
	top: 22px;
}
.select-area-holder .select .select-opener {
	top: 26px;
	right: 28px;
}
.select-options {
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 2000;
}
.select-options .drop-holder {
	border: none;
	background: #d3dadd;
	overflow: hidden;
	height: 1%;
}
.select-options ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.select-options ul li {
	width: 100%;
	float: left;
}
.select-options ul a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: default;
	height: 1%;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #666;
	color: #fff;
}
.select-options .optgroup { clear: both; }
.select-options .optgroup strong {
	display: block;
	padding: 5px;
}
.select-options .optgroup ul a { padding-left: 30px; }
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.lightbox { width: 668px; }
.lightbox .mavens-deal-holder {
	overflow: hidden;
	text-align: center;
	width: 668px;
	height: 308px;
	display: table;
	padding: 0 0 8px;
}
.lightbox .mavens-deal {
	display: table-cell;
	vertical-align: middle;
	color: #555c5e;
	font: 16px/24px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.lightbox .mavens-deal h1 {
	font: 700 33px/38px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
	margin: 0 0 1px;
}
.lightbox .mavens-deal p { margin: 0 0 34px; }
.lightbox .mavens-deal .select-deal {
	overflow: hidden;
	width: 323px;
	margin: 0 auto;
	text-align: left;
	color: #555c5e;
	font: 700 16px/47px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.lightbox .tabs-holder {
	overflow: hidden;
	position: relative;
}
.lightbox .tabs-holder .addnow-holder {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	z-index: 9;
	font: 700 22px/59px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #fff;
	background: #fb435f;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
	width: 100%;
	text-transform: capitalize;
}
.lightbox .tabs-holder .addnow-holder .addnow {
	background: url(../images/bg-addnow.png) no-repeat 100% 50%;
	display: inline-block;
	vertical-align: middle;
	padding: 0 30px 0 0;
}
.lightbox .tabs-holder .addnow-holder:hover {
	text-decoration: none;
	background: #fc8597;
}
.tabs-holder .tabset {
	list-style: none;
	padding: 0;
	margin: 0 0 30px;
	overflow: hidden;
	font: 700 16px/51px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.tabs-holder .tabset li { float: left; }
.tabs-holder .tabset li a {
	width: 312px;
	padding: 0 10px;
	display: block;
	text-align: center;
	color: #9fabaf;
	border: 1px solid #d3dadd;
	border-top: none;
	background: #f5f6f7;
	-webkit-box-shadow: inset 1px -2px 9px rgba(0,0,0,.08);
	box-shadow: inset 1px -2px 9px rgba(0,0,0,.08);
}
.tabs-holder .tabset li a:hover, .tabs-holder .tabset li.active a {
	text-decoration: none;
	background: #fff;
	border: 1px solid #fff;
	color: #26ade3;
	border-top: none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-top: none;
}
.tabs-holder .tab-content { position: relative; }
.tabs-holder .tab-content:after {
	display: block;
	clear: both;
	content: '';
}
.tabs-holder .tab-content .heading {
	overflow: hidden;
	text-align: center;
	padding: 0 10px;
	color: #555c5e;
	font: 16px/24px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 0 15px;
}
.tabs-holder .tab-content .heading h1 {
	font: 700 33px/38px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
	margin: 0 0 4px;
}
.tabs-holder .tab-content .heading p { margin: 0 0 10px; }
.tab-content .form-holder { position: relative; }
.tab-content .form-holder:after {
	display: block;
	clear: both;
	content: '';
}
.tab-content .search-holder {
	overflow: hidden;
	padding: 0 60px 0 37px;
	margin: 0 0 22px;
}
.tab-content .search-holder input[type="search"], input[type="text"] {
	border: 1px solid #d3dadd;
	margin: 0;
	float: left;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../images/bg-search.png) no-repeat 14px 12px #f5f6f7;
	font: 16px/19px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	height: 47px;
	padding: 10px 15px 10px 48px;
	color: #afb9bc;
	outline: none;
}
.tab-content .checkbox-holder { padding: 0 17px 0 37px; }
.tab-content .checkbox-holder:after {
	display: block;
	clear: both;
	content: '';
}
.tab-content .checkbox-area {
	overflow: auto;
	height: 472px;
	padding: 0 33px 0 0;
}
.tab-content .checkbox-heading {
	overflow: hidden;
	margin:0 0 15px;
}
.tab-content .checkbox-heading label {
	float: left;
	margin: 4px 0 0;
	color: #fb435f;
	font: 700 16px/19px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.tab-content .info-area {
	list-style: none;
	padding: 0 0 60px 11px;
	margin: 7px 0 0 -24px;
}
.tab-content .info-area:after {
	display: block;
	clear: both;
	content: '';
}
.tab-content .info-area li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 17px 18px;
	width: 267px;
	position: relative;
}
.tab-content .info-area li .info {
	background: #f3f5f6;
	border: 2px solid #fff;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	-webkit-border-radius: 4px;
	padding:13px 13px 8px;
}
.tab-content .info-area li .info:hover, .tab-content .info-area li.active .info {
	text-decoration: none;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.32);
	box-shadow: 0 0 5px rgba(0,0,0,.32);
}
.tab-content .info-area li .description-holder {
	display: inline-block;
	vertical-align: middle;
}
.info-area li .description-holder img {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0;
}
.info-area li .description-holder .description {
	display: inline-block;
	vertical-align: middle;
}
.info-area li .description-holder .description h2 {
	color: #26ade3;
	margin: 0 0 5px;
	font: 700 18px/22px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.info-area li .description-holder .description .city {
	display: block;
	color: #555c5e;
	font: 14px/18px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.tab-content .box-holder {
	width: 542px;
	margin: 23px auto 104px;
	overflow: hidden;
}
.tab-content .box-holder .box {
	background: #f5f5f5;
	min-height: 105px;
	border: 1px solid #d3dadd;
	background: #f5f5f5;
	padding: 14px 15px;
	margin: 0 0 11px;
	color: #a2a2a2;
	font: 14px/17px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	overflow: hidden;
}
.tab-content .box-holder .box p { margin: 0 0 5px; }
.tab-content .box-holder .box a { color: #a2a2a2; }
.tab-content .box-holder .group {
	float: right;
	color: #555c5e;
	font: 16px/20px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}
.tab-content .box-holder .group a {
	text-decoration: underline;
	color: #4dbcea;
	margin: 0 0 0 5px;
}
.tab-content .box-holder .group a:hover { text-decoration: none; }
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}
#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}
#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}
#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding:0;
	z-index: 1101;
	outline: none;
	display: none;
}
#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}
#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0 solid #fff !important;
}
#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}
#fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 39px;
	height: 39px;
	background: url(../images/bg-close.png) no-repeat;
	cursor: pointer;
	z-index: 1103;
	display: none;
}
#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}
#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}
#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
}
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span {
	left: auto;
	right: 20px;
}
.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}
#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}
.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}
.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}
.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}
.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}
#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}
#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}
.scrollable-area-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.scrollable-area-wrapper .hscrollbar, .scrollable-area-wrapper .vscrollbar {
	position: absolute;
	top: 0;
	right: -11px;
	width: 20px;
}
.scrollable-area-wrapper .hscroll-left, .scrollable-area-wrapper .vscroll-up, .scrollable-area-wrapper .hscroll-right, .scrollable-area-wrapper .vscroll-down {
	background: #777;
	width: 20px;
	height: 20px;
	float: left;
	display: none;
}
.scrollable-area-wrapper .hscroll-line, .scrollable-area-wrapper .vscroll-line {
	background: #fff;
	width: 20px;
	float: left;
}
.scrollable-area-wrapper .hscroll-slider, .scrollable-area-wrapper .vscroll-slider {
	background: #d3dadd;
	width: 6px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.scrollable-area-wrapper .hscrollbar {
	position: static;
	height: 20px;
	top: auto;
}
.scrollable-area-wrapper .hscroll-line {
	height: 20px;
	width: auto;
}
@media (max-width: 1580px) {
.payment-area .payment li { padding: 0 5% 35px; }
.payment-area .paymnent-block { left: -232px; }
.image-area .image-list li { width:17%;}
.daashboard-frame .col4 { width:19.1%;}

}
@media (max-width: 1280px) {
#header { padding: 20px 2% 0; }
#main { padding: 32px 2% 95px; }
.logo { margin: 2px 3% 0 0; }
.user-nav-area { font-size: 15px; }
.user-nav ul li a { padding: 8px 20px 10px; }
#nav { padding: 18px 18px 26px 0; }
#nav ul { font-size: 16px; }
.setting-area { left: -150px; }
.buttons-state .text { font-size: 13px; }
.select-area-holder .select-frame { width: 63.1%; }
.payment-area .payment li { padding: 0 5% 35px; }
.daashboard-frame .col1 { width: 36.8%; }
.daashboard-frame .col1 h2 { font-size: 15px; }
.payment-area .paymnent-block { left: -225px; }
.connectoin-area .bar-overview { padding: 24px 2% 10px; }
.connectoin-area .connectoin { margin: 0 0 0 -2%; }
.connectoin-area .connectoin li {
	margin: 0 0 38px 2%;
	width: 30.8%;
}
.connectoin li .description h3 { font-size: 14px; }
.image-area .image-list { margin: 0 0 0 -8px; }
.about-deal-text-holder .about-form { width: 75%; }
.image-area .image-list li {
	margin: 0 0 10px 8px;
	width: 18%;
}
.payment-area .payment li { padding:0 4% 35px;}
.navitem-area .sort-area .sort-select { width: 29%; }
.daashboard-frame .col4 { width:24.1%;}
.daashboard-frame .col4 .mavens { padding:0 10px 0 48px;}
}
@media (max-width: 1110px) {
.user-nav-area { font-size: 14px; }
.user-nav ul li a:hover, .user-nav ul li.active a { font-size: 15px; }
#nav ul li { margin: 0 0 0 17px; }
.buttons-holder .buttons-state.add { width: 51%; }
.select-area-holder .select-frame { font-size: 14px; }
.payment-area { padding: 38px 1.5% 41px ; }
.payment-area .payment li { padding: 0 3% 35px; }
.payment-area .paymnent-block {
	left: -213px;
	padding: 19px 19px 12px 10px;
}
.daashboard-holder { padding: 9px 30px 48px; }
.daashboard-frame .col1 img { margin: -13px 17px 0 0; }
.connectoin-area .connectoin li {
	width: 31.8%;
	margin: 0 0 38px;
}
.connectoin-area .connectoin { margin: 0; }
.connectoin-area .connectoin li .image-holder { margin: 0 4px 0 0; }
.connectoin li .description h3 { font-size: 12px; }
.connectoin li .description .city { font-size: 10px; }
.navitem-area .sort-area { width: 60%; }
.image-area .image-list { margin: 0 0 0 -5px; }
.image-area .image-list li { margin: 0 0 10px 5px; }
.daashboard-frame .col4 .mavens { min-width:80px; padding:0 10px 0 46px;}
}
@media ( -webkit-min-device-pixel-ratio : 1.5 ), ( min-resolution : 144dpi ) {
.logo,  #nav ul li.home a,  #nav ul li.home a:hover, #nav ul li.home.active a,  #nav ul li.deals a,  #nav ul li.deals a:hover, #nav ul li.deals.active a,  #nav ul li.finance a,  #nav ul li.finance a:hover, #nav ul li.finance.active a,  #nav ul li.network a,  #nav ul li.network a:hover, #nav ul li.network.active a,  .heading-area .btn-area .mavens,  .heading-area .btn-area .mavens:hover,  .heading-area .btn-area .setting,  .heading-area .btn-area .setting:hover,  .buttons-state ul li.mavens a,  .buttons-state ul li.mavens a:hover, .buttons-state ul li.mavens.hover a,  .buttons-state ul li.setting a,  .buttons-state ul li.setting a:hover, .buttons-state ul li.setting.hover a,  .daashboard-frame .col4 .mavens,  .daashboard-frame .col4 .mavens:hover,  .daashboard-frame .col4 .setting,  .daashboard-frame .col4 .setting:hover,  .duration-area h3 {
	background-image: url(../images/sprite-2x.png);
	background-size: 500px 500px;
	background-repeat: no-repeat;
}
.setting-area:after {
	background-image: url(../images/arrow-2x.jpg);
	background-repeat: no-repeat;
	background-size: 33px 19px;
}
#nav ul li a:hover:after, #nav ul li.active a:after {
	background-image: url(../images/arrow1-2x.png);
	background-repeat: no-repeat;
	background-size: 34px 20px;
}
.lightbox .tabs-holder .addnow-holder .addnow {
	background-image: url(../images/bg-addnow-2x.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.chk-area, .chk-checked {
	background-image: url(../images/bg-checkbox-2x.png);
	background-repeat: no-repeat;
	background-size: 25px 65px;
}
#fancybox-close {
	background-image: url(../images/bg-close-2x.png);
	background-repeat: no-repeat;
	background-size: 39px 39px;
}
.search-area input[type="submit"] {
	background-image: url(../images/bg-search-2x.png);
	background-repeat: no-repeat;
	background-size: 25px 25px;
}
.tab-content .search-holder input[type="search"], input[type="text"] {
	background-image: url(../images/bg-search-2x.png);
	background-repeat: no-repeat;
	background-size: 25px 25px;
}
.select-area .select-opener {
	background-image: url(../images/bg-select-2x.png);
	background-repeat: no-repeat;
	background-size: 10px 6px;
}
}
.business-info-container {
	background: #fff;
	margin: 0 0 23px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.14);
	box-shadow: 0 0 3px rgba(0,0,0,.14);
	padding: 38px 2% 41px;
	position: relative;
	text-align:center;
}
.business-info-container h1 {
	font: 700 33px/38px 'Lato', sans-serif, Arial, Helvetica, sans-serif;
	color: #555c5e;
	margin: 0px auto 30px auto;
	width: 40%;
}
.business-info-container p {
	margin-top: 35px;
}
.inline_filter_fields li {
	display: inline-block;
	padding-right: 5px;
}
.inline_filter_fields li  div {
	display: block;
}
.business-info-links li {
	display: inline;
}

.navitem-area .sort-area .inline_filter_fields .sort-select{
	width: 100%;
}

#main.finance-page .heading-area {
	margin-bottom: 37px;
}
#view_all_stats_link {
	float: right;
	color: #26ADE3;
}
#view_all_stats_link:hover {
	color:#1F8AB5;
}

.finance-page .btn-area input {
	width: 423px;
	margin-right: 15px;
}

	.navitem-area .sort-area.short_form .sort-select {
		width: 100%;
	}
	.navitem-area .sort-area.short_form {
		width: 24%;
	}
.finance-page .payment-holder {
	border-bottom: none;
	margin-bottom: 0px;
	padding-bottom: 30px;
}

.finance-page .navitem-area {
	padding-bottom: 30px;
}
#main.network-page .heading-area {
	margin-bottom: 12px;
}

.network-page  .navitem-area {
	padding-bottom: 12px;
}
.network-page .search-box {
	width: 425px;margin-right: 10px;
}

.btn.check {
	background: url('../images/check-2x.png') no-repeat transparent;
	width: 95px;
	height: 47px;
	text-indent: -999em;
	padding: 0px;
}
.btn.check:hover {
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.btn.red_x {
	background: url('../images/red_x-2x.png') no-repeat transparent;
	width: 65px;
	height: 47px;
	text-indent: -999em;
	padding: 0px;
}
.btn.red_x:hover {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.btn.trash {
	background: url('../images/trash-2x.png') no-repeat transparent;
	width: 57px;
	height: 47px;
	text-indent: -999em;
	padding: 0px;
}