/*
Syntax error: Undefined mixin 'box-shadow'.
        on line 95 of /Volumes/HDRV/_work/tinypulse-ty/sass/general.scss, in `box-shadow'
        from line 95 of /Volumes/HDRV/_work/tinypulse-ty/sass/general.scss

Backtrace:
/Volumes/HDRV/_work/tinypulse-ty/sass/general.scss:95:in `box-shadow'
/Volumes/HDRV/_work/tinypulse-ty/sass/general.scss:95
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:254:in `visit_mixin'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:323:in `visit_rule'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/tree/root_node.rb:20:in `render'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.3.0.alpha.69/lib/sass/engine.rb:265:in `render'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/bin/compass:23:in `load'
/Users/jrd02/.rvm/gems/ruby-1.9.3-p125/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-shadow'.\A         on line 95 of /Volumes/HDRV/_work/tinypulse-ty/sass/general.scss, in `box-shadow'\A         from line 95 of /Volumes/HDRV/_work/tinypulse-ty/sass/general.scss"; }
