// .container {overflow: hidden;} // added to cut full width background

.content {
	padding-left:   15px;
	padding-right:  15px;

	@include breakpoint ($desktop) {
		padding: 0;
	}
}

// $header

.header-ty {
	background: #FFF;
	line-height: 40px;
	position: relative;
}

.return-link {
	padding: 0 15px;
	display: block;
	background: #4f6e7e;
	color: #FFF;
	font-size: 12px;
	line-height: 2.5em;

	@include breakpoint ($desktop) {
		clear:both;
	}

	&:hover {
		background: $royal;
		text-decoration: none;
		color: #FFF;
	}

	&:active {background: darken($royal, 10%);};

	&:after {
		@extend %pseudo;
		@extend %fill;
		z-index: -1;
		height: inherit;
		background: #000;
		display: block;
	}

	

	i {margin-right: 5px;}
}

.logo {
	display: block;
	text-align: center;

	img {max-height: 20px; display: inline-block;}
}

// $footer

.footer-ty {
	// padding-bottom: 20px;
	background: #FFF;
	border-top: 1px solid rgba(#000, .2);
	@include box-shadow(0px -1px 2px rgba(#000, .1));
	height: 110px;
}

.ftr-right,
.ftr-left {
	position: relative;

	p {font-size: 12px; line-height: 1.4em; margin: 5px 0;}
}

.ftr-right {
	padding: 0 15px;

	@include breakpoint($desktop) {
		padding: 0;
		position: relative;

		.buttons {margin-left: 20px;} // adds middle spacing on desktop
	}

	&:after { // adds verticle separator
		@extend %pseudo;
		left: 0;
		top:    19px;
		bottom: 19px;
		background: #CCC;
		width: 1px;
		display: block;
	}



	.facebook-like-button,
	.twitter-wrap{
		line-height: 0;
		padding-top:    19px; 
		padding-bottom: 19px;
	}

	.facebook-like-button {
		border-bottom: 1px solid #CCC;

		@include breakpoint($desktop) {
			border: none;
			padding-bottom: 0;
		}
	}	
}

.ftr-left  {
	padding: 15px;

	@include breakpoint($desktop) {
		padding-left: 0;
		padding-right: 0;
	}

	&:before { // bottom line
		@extend %pseudo;
		background: #CCC;
		bottom: 0;
		left:  15px;
		right: 15px;
		height: 1px;

		@include breakpoint($desktop) {
			display: none;
		}
	}

	.icon-shirt {
		line-height: 1.2em;
		font-size:  38px;
		position: absolute;
		top: 50%;
		height: 50px;
		margin-top: -25px;
		color: $orange;

		@include breakpoint($desktop) {
			font-size: 45px;
			line-height: 1em;
		}
	}

	p {
		margin-left: 45px;
 
		@include breakpoint($desktop) {
			font-size: 14px;
			margin-left: 65px;
		}
	}
}

a.ftr-wrap { // added to align text vertically
	display: block;
	height: 100%;
	font-size: 0;
	color: inherit;

	&:before { 
		vertical-align: middle;
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;
	}

	b {color: $royal;}
}

.vertical-align {
	vertical-align: middle;
	position: relative;
	z-index: 2;
	display: inline-block;
	// font-size: medium;
}


// $Specific

#thank-you {

	.submit-header {
		text-align: center;

		@include breakpoint($desktop) {
			text-align: left;
		}
	}

	h1 {
		font-size: 18px;
		line-height: 1.2em;
		text-shadow: none;

		@include breakpoint($desktop) {
			font-size: 35px;
			line-height: 1.1em;
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}

	p {
		font-size: 12px;
		line-height: 1.4em;
	}

	// $quote

	.respond-quote {
		clear: both;
		// width: auto;
		position: relative;
		z-index: 0;
		margin-top: 0px;
		padding: 10px 0;
		text-align: center;
		color: #FFF;

		&:before{ // add background to full width
			@extend %pseudo;
			z-index: -1;
			left: 	-15px; // offset for mobile side padding
			right: 	-15px;
			top: 	0;
			bottom: 0;
			background: $blue-dark;
			display: block;
			
			@include breakpoint($desktop) {
				left: 	0;
				right: 	0;
				@include border-radius(5px);
			}
		}

		.quote, .quote-author { // overwrites text align
			text-align: center;
			min-height: 0; // overwrite
		}

		
	}

	.quote {
		display: inline-block;
		width: 75%;
		position: relative;

		@include breakpoint($desktop) {
			width: auto;
			font-size: 14px;
		}

		&:after,&:before{ // adds quote icons
			color: lighten($blue-dark, 15%);
			position: absolute;
			top: 5px;
			@extend %font-awesome;
			font-size: $size-2;
		}
		&:before {
			left: -35px;
			content: "\f10d";
		}
		&:after {
			right: -35px;
			content: "\f10e";
		}
	}
}

// $headline

.headline {
	text-align: center;
	margin-top:    20px;
	margin-bottom: 10px;

	@include breakpoint ($desktop) {
		text-align: left;
	}

	h1 	{
		font-size: 24px;
		line-height: 1.3em;
		text-shadow: none;
		position: relative;
		display: inline;

		@include breakpoint ($desktop) {
			text-align: left;
			font-size: 34px;
		}
	}

	i 	{
		font-size: 35px;
		line-height: .9em;
		position: absolute;
		margin-left: -45px; // aligns icon
		left: 0;

		@include breakpoint($desktop) {
			font-size:   45px;
			line-height: 1em;
			margin-left: -55px;
			// margin-left: -55px;

			#referral & {margin-left:0;}
		}
	}

	p {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 14px;

		@include breakpoint ($desktop) {
			margin-top: 0px;
			margin-bottom: 10px;
		}
	}
}

.headline--icon {
	display: inline-block;
	position: relative;
	@include box-sizing(border-box);
	padding-left: 45px;

	@include breakpoint ($desktop) {
		padding-left: 0;
		display: block;
	}

	i {
		$size: 40px;
		position: absolute;
		left: 0;
		height: $size;
		width:  $size;
		top: 50%;
		margin-top: -$size / 2;
		line-height: 1em; // adjusts centering slightly
	}
}

.headline-wrap {
	position: relative;
}


// $Title

.title {
	h2 {
		margin-top: 0;
		font-size: 18px;
		line-height: 1em;	

		@include breakpoint ($desktop) {
			font-size: 24px;
		}
	}


}

.title--icon {
	@extend .title;

	i {
		font-size: 24px;
		line-height: .7em;

		@include breakpoint ($desktop) {
			font-size:    34px;
			margin-left:  3px;
			margin-right: 15px !important; // overwrite icon.pull left
		}
	}
}

// $Streak

$streak-height: 100px;

.streak {
	height:  $streak-height;
	position: relative;
	margin-top: $mbl-margin;
	background: $light-blue;
	border-color: darken($light-blue, 5%);
}

.streak-number {
	position: relative;
	height: 100%;
	width:  $streak-height - ($tight-pad * 2); // height minus tight padding * 2
	margin-right: 10px;
	background: #ffbc52;
	border: 3px solid #FFF;
	@include box-sizing(border-box);
	@include border-radius(5px);
	@include box-shadow(0px 1px 1px 1px rgba(#000, .1));
}

.streak-copy {
	h5 {
		margin: 0 0 2px 0;
		line-height: 1em;
		color: #eb742c;
	}

	p {
		height: 30px;
		margin: 5px 0 0 0;
		line-height: 1.1em !important; //fix
		color: #636466;
	}
}

.award {
	margin-right: 2px;
	height: 20px;
	width: 20px;
	// @include background-image(image-url("/images/Honeycomb2x.png"));
	@include background-size(contain);
}

.streak-record {
	margin: 3px 0 0;
	font-size: 10px;
	font-weight: 500;
	line-height: 1.5em;
	color: #3a87ad;
}

.streak-stars {
	display: inline-block;
	position: absolute;
	left: $streak-height;
	bottom: -3px;

	&.inline li { // overrides bootstrap li padding
		padding: 0;
		float: left;
	}

	.icon-star {
		color: $orange;
		font-size: 16px;
	}
}

// $Cheers

#cheers .cheers-new {
	margin: 0; // removes  margin on history page

	@include breakpoint ($desktop) {
		margin-bottom: 20px;
	}
}

.cheers-new {
	margin-top: $mbl-margin;

	.title--icon {
		border-bottom: 1px solid #CCC;
		padding-left: 15px;
		margin-left:  -15px; // allows border to extend to edge
		margin-right: -15px;

		i {color:#cccccc;}
	}

	.cheers .cheer {
		padding-top: 0; // overwrites previous css
	}

	.cheer {
		$cheer-bg: #666;
		@include border-radius(5px);
		overflow: hidden;
		border: none;

		h6 {
			margin-bottom: 0;
			padding: 8px;
			background: $cheer-bg;
			font-size:   12px;
			line-height: 1.3em;
			font-weight: normal;
			color: #FFF;
		}

		p {
			margin: 0;
			padding: 8px;
			background: lighten($cheer-bg, 57%);
		}

		a { // report abuse
			font-size: 10px;
			display: block;
			margin-top: 8px;
			color: #CCC;
			&:hover {color: $red-alert; text-decoration: none;}
			i {color: $red-alert;}
		}
	}
}

.cheers-action {
	display: block;
	float: none;

	@include breakpoint ($desktop) {
		margin-right: 47px;
		float: right;
	}

	@include breakpoint ($med) {
		margin-right: 50px;
	}

	.btn-wrap { // wraps buttons to allow them to expand in mobile
		@include box-sizing(border-box);
		width:  50%;
		float: left;

		@include breakpoint($desktop) {width: auto;}

		&:first-child {padding-right:  5px;}
		&:last-child  {padding-left:   5px;}

		a { // sets size of button
			@include box-sizing(border-box);
			padding: 4px 8px;
			font-size: 12px;
			width: 100%;
		}
	}
}

#cheers .cheers-action {
	@include breakpoint ($desktop) {
		text-align: center;
		float: none;
		margin-right: 0;

		a {
			padding-left:  30px !important;
			padding-right: 30px !important;
			width: auto;
			display:inline-block;
		}
	}
}

.list-nav{
	font-size: 18px;
	font-weight: 600;
}

.list-nav--center {
	@extend .list-nav;
	text-align: center;

	@include breakpoint($desktop) {
		text-align: left;
	}
}

.cheers-month,
.cheers-year,
.share-option {
	border-bottom: 1px solid #CCC;

	a {
		display: block;

		&:hover {
			i {text-decoration: none}
		}
	}
}

.cheers-month,
.cheers-year {
	height: 45px;
	line-height: 45px;

	a {
		@include breakpoint($desktop) {
			font-size: 14px;
		}

		@include breakpoint($desktop) {
			font-size: 14px;
		}
	}

	&:last-child {
		border: none;
	}

	span {font-weight: normal;} // styles # of cheers per year/month
}

.share-option {
	height: 	 60px;
	line-height: 60px;

	&:first-child {border-top: 1px solid #CCC;}
	&:last-child {
		margin-bottom: 40px;

		@include breakpoint($desktop) {
			border: none;
		}
	}

	a {font-weight: normal}

	i:first-child { // sets social icon
		font-size: 35px;
		width: 25px;
		text-align: left;
		margin: 0 20px 0 10px;
		line-height: 12px; // for centering

		&.icon-envelope-alt {
			font-size: 30px; // mail icon looked bigger
		}
	}

	i:last-child { // sizes chevron
		font-size: 10px;
		margin-left: 2px;
	}
}

.list-nav--inner { //nested list

	.cheers-month {
		display:none;
	}

	.cheers-year {
		border: none;
		i {margin-left: 5px; font-size: 10px;}
	}

	&.js-active { // year active state
		.cheers-year { 
			background: #0088cc;
			padding-left: 5px;

			i { //rotates icon
				@include rotate(-90deg);
			}
			
			a {
				color: #FFF;
			}

		}

		.cheers-month {
			display: block;
		}
	}
}

.col1 {background: green;}
.col2 {background: blue;}
.col3 {background: green;}
.col4 {background: blue;}
.col5 {background: green;}
.col6 {background: blue;}
.col7 {background: green;}
.col8 {background: blue;}
.col9 {background: green;}
.col10 {background: blue;}
.col11 {background: green;}
.col12 {background: blue;}

// $feedback

.feedback {
	background: $light-blue;
	border-color: darken($light-blue, 5%);
	color: #4f6e7e;

	h2 {
		color: #4f6e7e;
	}

	.icon-comment-reverse {
		color: lighten($blue-dark, 20%);
	}

	.submit-feedback { // submit button
		display: block;

		@include breakpoint($desktop) {float:right;}
	} 
}

.textarea-input {
	position: relative;

	.feedback-placeholder {
		position: absolute;
		top:   8px;
		left:  8px;
		right: 8px;
		color: #999;
	}
}

.email-input {
	float: none;
	@include breakpoint($desktop) {float: right !important;}
}

// $Progress

.progress-meter {
	font-size: 146%;
}

.circle-meter{
	position: absolute;
	overflow: hidden;
	width:  4em;
	height: 4em;
}

.progress-meter:before {
	content: "";
	position: absolute;
	background-color: #FFF;
	height: 3em;
	width:  3em;
	z-index: 11;
	margin: .5em;
	border-radius: 1.5em;
}

.per0  .circle-meter,
.per10 .circle-meter,
.per20 .circle-meter,
.per30 .circle-meter,
.per40 .circle-meter,
.per50 .circle-meter{
  clip: rect(0,4em, 4em, 2em);
}
.per60 .circle-meter,
.per70 .circle-meter,
.per80 .circle-meter,
.per90 .circle-meter,
.per1000 .circle-meter{
  clip: rect(0,4em, 4em, 0em);
}

div.first,
div.last{
  width:  2em;
  height: 4em;
  background: red;
}

div.first-full {
  width:  4em;
  height: 4em;
  background: green;
  position: absolute;
  border-radius: 2em;
  top: 0;
}

div.first{
  border-top-left-radius:    2em;
  border-bottom-left-radius: 2em;
  -webkit-transform-origin: 100% 50%;
  position: absolute;
}

div.last{
  border-top-right-radius:    2em;
  border-bottom-right-radius: 2em;
  -webkit-transform-origin: 0% 50%;
  margin-left: 2em;
  position: relative;
  z-index: 1;
  -webkit-transform: rotate(180deg);
}

.per0   .first{  -webkit-transform: rotate(0deg);   }
.per10  .first{  -webkit-transform: rotate(36deg);  }
.per20  .first{  -webkit-transform: rotate(72deg);  }
.per30  .first{  -webkit-transform: rotate(108deg); }
.per40  .first{  -webkit-transform: rotate(144deg); }
.per50  .first,
.per60  .first,
.per70  .first,
.per80  .first,
.per90  .first,
.per100 .first{
  -webkit-transform: rotate(180deg); 
}

.per60  .last{   -webkit-transform: rotate(36deg);  }
.per70  .last{   -webkit-transform: rotate(72deg);  }
.per80  .last{   -webkit-transform: rotate(108deg); }
.per90  .last{   -webkit-transform: rotate(144deg); }
.per100 .last{   -webkit-transform: rotate(180deg); }

// $circle

.circle-number {
	$circle-size: 20px;

	display: inline-block;
	position: relative;
	width: 18px;
	text-align: center;
	color: #FFF;

	&:before {
		@extend %pseudo;
		z-index: -1;
		height: $circle-size;
		width:  $circle-size;
		left: 50%;
		margin-left: -$circle-size / 2;
		margin-top: -2px;
		background: $orange;
		@include border-radius(100%);
		
	}
}

.submit-stats {
	font-size: 12px;
	font-weight: 500;
}

// $referral

.share-address-title {
	margin-top: 20px;
	i {
		font-size: 20px;
		line-height: 0.3em;
		display: inline-block;
		margin-right: 2px;
	}
}

.referral-content {
	// @include breakpoint($desktop) {padding-left:0; padding-right: 0;}
	h2 {
		font-size: 18px;
		line-height: 1.4em;
		@include breakpoint ($desktop) {font-size: 24px;}
	}
}

.share-address {margin-bottom: 20px;} 

// $Send

.cheers-as { // button toggle for cheers as
	display: block !important;
	width: 100%;
	margin-bottom: 10px;

	@include breakpoint($desktop) {margin-bottom: 0;}

	.btn {
		width: 100%;
		text-align: left;
		font-size: 12px;
		text-shadow: none;

		@include breakpoint ($desktop) { // convert to horizontal button group
			width: auto;
			float: left;
		}
	}

	&.btn-group-vertical>.btn:first-child { // convert to horizontal button group
		@include breakpoint ($desktop) {
			@include border-radius(4px 0 0 4px);
		}
	}

	&.btn-group-vertical>.btn:last-child { // convert to horizontal button group
		@include breakpoint ($desktop) {
			@include border-radius(0 4px 4px 0);
			margin-top: 0;
		}
	}

	&.btn-group .btn.active, {background: #899ca5;}
	&.btn-group .btn:active {background: #899ca5;}
}

.submit-cheer {margin-bottom: 20px;}

.add-cheer {margin-bottom: 10px;}

.cheers-confirmation { // confirms sent cheer
	display: none; // hidden on load
	text-align: center;
	font-size: 18px;
	line-height: 1.4em;
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid #8fbd5a;
	background: #a9d773;
	color: #38541d;
	@include border-radius(5px);
	@include box-sizing(border-box);
	.js-active & {display: block;}
}

.active-account {font-size: 12px;} // logged in as

.add-email { // email not on list link
	font-size: 12px;
	i {font-size: 8px;}
}






