//                      _                 _        
//                     | |               | |       
//   ___   ___   _ __  | |_   ___  _ __  | |_  ___ 
//  / __| / _ \ | '_ \ | __| / _ \| '_ \ | __|/ __|
// | (__ | (_) || | | || |_ |  __/| | | || |_ \__ \
//  \___| \___/ |_| |_| \__| \___||_| |_| \__||___/
//
// search with $
                                                
// 	header
//	footer
//	specific - page specific styles
//	headline
// 	title
// 	streak
//	cheers
//	feedback
//	progress
//	circle -  background circle for numbers
//	referral
//	send

// =====================================================================


.content { // add padding to side of page
	padding-left:   15px;
	padding-right:  15px;

	@include breakpoint ($desktop) {
		padding: 0;
	}
}

//  _                       _             
// | |                     | |            
// | |__    ___   __ _   __| |  ___  _ __ 
// | '_ \  / _ \ / _` | / _` | / _ \| '__|
// | | | ||  __/| (_| || (_| ||  __/| |   
// |_| |_| \___| \__,_| \__,_| \___||_|   

// $header

.header-ty {
	background: $white;
	line-height: 40px;
	position: relative;
	border-bottom: 1px solid $border-header;
}

.pulsing-since {
	font-size: $size-5;
	color: $grey-text;
}

.return-link {
	padding: 0 15px;
	display: block;
	background: $return-link-color;
	color: $white;
	font-size: $size-5;
	line-height: 2.5em;

	@include breakpoint ($desktop) {
		clear:both;
	}

	&:hover {
		background: $royal;
		text-decoration: none;
		color: #FFF;
	}

	&:active {background: darken($royal, 10%);};

	&:after {
		@extend %pseudo;
		@extend %fill;
		z-index: -1;
		height: inherit;
		background: $black;
		display: block;
	}

	

	i {margin-right: 5px;} // spaces chevron
}

.logo {
	display: block;
	text-align: center;

	@include breakpoint ($desktop) {float: left;}

	img {max-height: 20px; display: inline-block;}
}




//   __                _               
//  / _|              | |              
// | |_   ___    ___  | |_   ___  _ __ 
// |  _| / _ \  / _ \ | __| / _ \| '__|
// | |  | (_) || (_) || |_ |  __/| |   
// |_|   \___/  \___/  \__| \___||_|   
                                                                      
// $footer

.footer-ty {
	background: $white;
	border-top: 1px solid rgba($white, .2);
	@include box-shadow(0px -1px 2px rgba($black, .1));
	@include breakpoint($desktop) {height: 110px;}
}

.ftr-right,
.ftr-left {
	position: relative;

	p {font-size: $size-5; line-height: 1.4em; margin: 5px 0;}
}

.ftr-right {
	padding: 0 15px;

	@include breakpoint($desktop) {
		padding: 0;
		position: relative;

		.buttons {margin-left: 20px;} // adds middle spacing on desktop
	}

	&:after { // adds vertical separator
		@extend %pseudo;
		left: 0;
		top:    19px;
		bottom: 19px;
		background: #CCC;
		width: 1px;
		display: block;
	}

	.facebook-like-button,
	.twitter-wrap{
		line-height: 0;
		padding-top:    19px; 
		padding-bottom: 19px;
	}

	.facebook-like-button {
		border-bottom: 1px solid #CCC;

		@include breakpoint($desktop) {
			border: none;
			padding-bottom: 0;
		}
	}	
}

.ftr-left  {
	padding: 15px;

	@include breakpoint($desktop) {
		padding-left: 0;
		padding-right: 0;
	}

	&:before { // bottom line
		@extend %pseudo;
		background: #CCC;
		bottom: 0;
		left:  15px;
		right: 15px;
		height: 1px;

		@include breakpoint($desktop) {
			display: none;
		}
	}

	.icon-shirt {
		line-height: 1.2em;
		font-size:  38px;
		position: absolute;
		top: 50%;
		height: 50px;
		margin-top: -25px;
		color: $orange;

		@include breakpoint($desktop) {
			font-size: 45px;
			line-height: 1em;
		}
	}

	p {
		margin-left: 45px;
 
		@include breakpoint($desktop) {
			font-size: $size-4;
			margin-left: 65px;
		}
	}
}

a.ftr-wrap { // added to align text vertically
	display: block;
	height: 100%;
	font-size: 0;
	color: inherit;

	&:before { 
		vertical-align: middle;
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;
	}

	b {color: $royal;}
}

.vertical-align {
	vertical-align: middle;
	position: relative;
	z-index: 2;
	display: inline-block;
}

//                          _   __  _       
//                         (_) / _|(_)      
//  ___  _ __    ___   ___  _ | |_  _   ___ 
// / __|| '_ \  / _ \ / __|| ||  _|| | / __|
// \__ \| |_) ||  __/| (__ | || |  | || (__ 
// |___/| .__/  \___| \___||_||_|  |_| \___|
//      | |                                 
//      |_|   

// $Specific

#thank-you {

	.submit-header {
		text-align: center;

		@include breakpoint($desktop) {
			text-align: left;
		}

		@include breakpoint ($med) {
			h1 {font-size: $size-0; margin-top: 25px;}
		}
	}

	h1 {
		font-size: $size-3;
		line-height: 1.2em;
		text-shadow: none;

		@include breakpoint($desktop) {
			font-size: 35px;
			line-height: 1.1em;
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}

	p {
		// font-size: $size-5;
		line-height: 1.4em;
	}

	// $quote

	.respond-quote {
		clear: both;
		// width: auto;
		position: relative;
		z-index: 0;
		margin-top: 0px;
		padding: 10px 0;
		text-align: center;
		color: #FFF;

		@include breakpoint($desktop) {
			padding-left:  60px;
			padding-right: 60px;
		}

		&:before{ // add background to full width
			@extend %pseudo;
			z-index: -1;
			left: 	-15px; // offset for mobile side padding
			right: 	-15px;
			top: 	0;
			bottom: 0;
			background: $blue-dark;
			display: block;
			
			@include breakpoint($desktop) {
				left: 	0;
				right: 	0;
				@include border-radius(5px);
			}
		}

		.quote, .quote-author { // overwrites text align
			text-align: center;
			min-height: 0; // overwrite
		}

		
	}

	.quote {
		display: inline-block;
		width: 75%;
		position: relative;

		@include breakpoint($desktop) {
			width: auto;
			font-size: $size-3;
		}

		&:after,&:before{ // adds quote icons
			color: lighten($blue-dark, 15%);
			position: absolute;
			top: 5px;
			@extend %font-awesome;
			font-size: $size-2;
		}
		&:before {
			left: -35px;
			content: "\f10d";
		}
		&:after {
			right: -35px;
			content: "\f10e";
		}
	}
}


//  _                       _  _  _              
// | |                     | || |(_)             
// | |__    ___   __ _   __| || | _  _ __    ___ 
// | '_ \  / _ \ / _` | / _` || || || '_ \  / _ \
// | | | ||  __/| (_| || (_| || || || | | ||  __/
// |_| |_| \___| \__,_| \__,_||_||_||_| |_| \___|
                                              
                                              
// $headline

.headline {
	text-align: center;
	margin-top:    20px;
	margin-bottom: 10px;

	@include breakpoint ($desktop) {
		text-align: left;
	}

	h1 	{
		font-size: $size-2;
		line-height: 1.3em;
		text-shadow: none;
		position: relative;
		display: inline;

		@include breakpoint ($desktop) {
			text-align: left;
			font-size: $size-1;
		}
	}

	i 	{
		font-size: 35px;
		// line-height: .9em;
		// position: absolute;
		// margin-left: -45px; // aligns icon
		left: 0;

		line-height: 0.5em;
		margin-right: 13px;

		@include breakpoint($desktop) {
			font-size:   45px;
			line-height: 1em;
			// margin-left: -55px;
			// margin-left: -55px;

			#referral & {margin-left:0;}
		}
	}

	p {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 14px;

		@include breakpoint ($desktop) {
			margin-top: 0px;
			margin-bottom: 10px;
		}
	}
}

.headline--offset {
	@extend .headline;
	h1 {
		@include breakpoint ($desktop) {margin-left: -57px;}
	}
}

.headline--icon {
	display: inline-block;
	position: relative;
	@include box-sizing(border-box);
	padding-left: 45px;

	@include breakpoint ($desktop) {
		padding-left: 0;
		display: block;
	}

	i {
		$size: 40px;

		position: absolute;
		left: -50px;
		height: $size;
		width:  $size;
		top: 50%;
		margin-top: -$size / 2;
		line-height: 1em; // adjusts centering slightly
		color: $icon-grey;

		@include breakpoint ($desktop) {left: 0;}
	}
}

.headline-wrap {
	position: relative;
}


//  _    _  _    _       
// | |  (_)| |  | |      
// | |_  _ | |_ | |  ___ 
// | __|| || __|| | / _ \
// | |_ | || |_ | ||  __/
//  \__||_| \__||_| \___|
                      
                      
// $Title

.title {
	h2 {
		margin-top: 0;
		font-size: 18px;
		line-height: 1em;	

		@include breakpoint ($desktop) {
			font-size: $size-2;
		}
	}


}

.title--icon {
	@extend .title;

	i {
		font-size: $size-2;
		line-height: .7em;
		color: $icon-grey;

		@include breakpoint ($desktop) {
			font-size:    $size-1;
			margin-left: 2px;
			margin-right: 12px !important;
			
		}

		@include breakpoint ($med) {
			margin-left:  10px;
			margin-right: 23px !important; // overwrite icon.pull left
		}
	}
}


//       _                       _    
//      | |                     | |   
//  ___ | |_  _ __   ___   __ _ | | __
// / __|| __|| '__| / _ \ / _` || |/ /
// \__ \| |_ | |   |  __/| (_| ||   < 
// |___/ \__||_|    \___| \__,_||_|\_\
                                   
                                   
// $Streak

$streak-height: 100px;

.streak {
	height:  $streak-height;
	position: relative;
	margin-top: $mbl-margin;
	background: $light-blue;
	border-color: darken($light-blue, 5%);
}

.streak-number {
	position: relative;
	height: 100%;
	width:  $streak-height - ($tight-pad * 2); // height minus tight padding * 2
	margin-right: 10px;
	// background: #ffbc52;
	background: $white;
	border: 3px solid #FFF;
	@include box-sizing(border-box);
	@include border-radius(5px);
	@include box-shadow(0px 1px 1px 1px rgba(#000, .1));
}

.streak-copy {
	h5 {
		margin: 0 0 2px 0;
		line-height: 1em;
		color: #eb742c;
	}

	p {
		height: 30px;
		font-size: $size-5;
		margin: 5px 0 0 0;
		line-height: 1.1em !important; //fix
		color: #636466;
	}
}

.award {
	margin-right: 2px;
	height: 20px;
	width: 20px;
	// @include background-image(image-url("/images/Honeycomb2x.png"));
	@include background-size(contain);
}

.streak-record {
	margin: 3px 0 0;
	font-size: $size-6;
	font-weight: 500;
	line-height: 1.5em;
	color: #3a87ad;
}

.streak-stars {
	display: inline-block;
	position: absolute;
	left: $streak-height;
	bottom: -3px;

	&.inline li { // overrides bootstrap li padding
		padding: 0;
		float: left;
	}

	.icon-star {
		color: $orange;
		font-size: 16px;
	}
}

//        _                            
//       | |                           
//   ___ | |__    ___   ___  _ __  ___ 
//  / __|| '_ \  / _ \ / _ \| '__|/ __|
// | (__ | | | ||  __/|  __/| |   \__ \
//  \___||_| |_| \___| \___||_|   |___/
                                    
                                    
// $Cheers

#cheers .cheers-new {
	margin: 0; // removes  margin on history page

	@include breakpoint ($desktop) {
		margin-bottom: 20px;
	}
}

.cheers-new {
	margin-top: $mbl-margin;

	.title--icon {
		border-bottom: 1px solid #CCC;
		padding-left: 15px;
		margin-left:  -15px; // allows border to extend to edge
		margin-right: -15px;
	}

	.cheers .cheer {
		padding-top: 0; // overwrites previous css
	}

	.cheer {
		$cheer-bg: #666;
		@include border-radius(5px);
		overflow: hidden;
		border: none;

		h6 {
			margin-bottom: 0;
			padding: 8px;
			background: $cheer-bg;
			font-size:   $size-5;
			line-height: 1.3em;
			font-weight: normal;
			color: #FFF;
		}

		p {
			margin: 0;
			padding: 8px;
			background: lighten($cheer-bg, 57%);
		}

		a { // report abuse
			font-size: 10px;
			display: block;
			margin-top: 8px;
			color: #CCC;
			&:hover {color: $red-alert; text-decoration: none;}
			i {color: $red-alert;}
		}
	}
}

.cheers-action {
	display: block;
	float: none;

	@include breakpoint ($desktop) {
		// margin-right: 47px;
		float: right;
	}

	@include breakpoint ($med) {
		// margin-right: 50px;
	}

	.btn-wrap { // wraps buttons to allow them to expand in mobile
		@include box-sizing(border-box);
		width:  50%;
		float: left;

		@include breakpoint($desktop) {width: auto;}

		&:first-child {padding-right:  5px;}
		&:last-child  {padding-left:   5px;}

		a { // sets size of button
			@include box-sizing(border-box);
			padding: 4px 8px;
			// font-size: 12px;
			width: 100%;
		}
	}
}

#cheers .cheers-action {
	@include breakpoint ($desktop) {
		text-align: center;
		float: none;
		margin-right: 0;

		a {
			padding-left:  30px !important;
			padding-right: 30px !important;
			width: auto;
			display:inline-block;
		}
	}
}

.list-nav{
	font-size: $size-3;
	font-weight: 600;
}

.list-nav--center {
	@extend .list-nav;
	text-align: center;

	@include breakpoint($desktop) {
		text-align: left;
	}
}

.cheers-month,
.cheers-year,
.share-option {
	border-bottom: 1px solid #CCC;

	a {
		display: block;

		&:hover {
			i {text-decoration: none}
		}
	}
}

.cheers-month,
.cheers-year {
	height: 		45px;
	line-height: 	45px;

	a {
		@include breakpoint($desktop) {
			font-size: 14px;
		}
	}

	&:last-child {
		border: none;
	}

	span {font-weight: normal;} // styles # of cheers per year/month
}

.share-option {
	height: 	 60px;
	line-height: 60px;

	&:first-child {border-top: 1px solid #CCC;}

	&:last-child {
		margin-bottom: 40px;

		@include breakpoint($desktop) {border: none;} //turns border off
	}

	a {font-weight: normal}

	i:first-child { // sets social icon
		font-size: 35px;
		width: 25px;
		text-align: left;
		margin: 0 20px 0 10px;
		line-height: 12px; // for centering

		&.icon-envelope-alt {
			font-size: 30px; // adjustment for mail icon
		}
	}

	i:last-child { // sizes chevron
		font-size: 10px;
		margin-left: 2px;
	}
}

.list-nav--inner { //nested list

	.cheers-month {
		display:none;
	}

	.cheers-year {
		border: none;
		i {margin-left: 5px; font-size: 10px;}
	}

	&.js-active { // year active state
		.cheers-year { 
			background: #0088cc;
			padding-left: 5px;

			i { //rotates icon
				@include rotate(-90deg);
			}
			
			a {
				color: #FFF;
			}

		}

		.cheers-month {
			display: block;
		}
	}
}

//   __                  _  _                   _    
//  / _|                | || |                 | |   
// | |_   ___   ___   __| || |__    __ _   ___ | | __
// |  _| / _ \ / _ \ / _` || '_ \  / _` | / __|| |/ /
// | |  |  __/|  __/| (_| || |_) || (_| || (__ |   < 
// |_|   \___| \___| \__,_||_.__/  \__,_| \___||_|\_\
                                                  
                                                  
// $feedback

.feedback {
	background: $light-blue;
	border-color: darken($light-blue, 5%);
	color: #4f6e7e;

	h2 {
		color: #4f6e7e;
	}

	.icon-comment-reverse {
		color: lighten($blue-dark, 20%);
	}

	.submit-feedback { // submit button
		display: block;

		@include breakpoint($desktop) {float:right;}
	} 
}

.textarea-input {
	position: relative;

	.feedback-placeholder {
		position: absolute;
		top:   8px;
		left:  8px;
		right: 8px;
		color: #999;
	}
}

.email-input {
	float: none;
	@include breakpoint($desktop) {float: right !important;}
}

                                              
//  _ __   _ __   ___    __ _  _ __   ___  ___  ___ 
// | '_ \ | '__| / _ \  / _` || '__| / _ \/ __|/ __|
// | |_) || |   | (_) || (_| || |   |  __/\__ \\__ \
// | .__/ |_|    \___/  \__, ||_|    \___||___/|___/
// | |                   __/ |                      
// |_|                  |___/                       

// $Progress

$size: 74px;
$circle-bg:    #529b90;
$circle-meter: #87d6c6;

.streak-circle { // green background circle
  background: $circle-bg; 
  position: relative;
  display: block;
  width:  $size;
  height: $size;
  margin: 0 auto;
  @include border-radius(100%);
  -webkit-transform:translate3d();
  
  &:before { // white center
    content: '';
    position: absolute;
    z-index: 1;
    top:  50%;
    left: 50%;
    margin-left: -35%;
    margin-top:  -35%;  
    height:    70%;
    width:     70%;
    background: white;
    @include border-radius(100%);
  }
}

.streak-num { // number
  position: absolute; 
  font-size: $size-1;
  color: $grey-text;
  font-weight: bold;
  width: 100%;
  line-height: $size;
  text-align: center;
  z-index: 1;
}

.left, .right { // circle halves
  position: absolute;
  display: block;
  width:  $size;
  height: $size;
  @include border-radius(100%);
  -webkit-transform:translate3d();
} 

.left { // left circle starts under the right circle
  background: $circle-meter;
  clip: rect(0, $size, $size, ($size / 2)); 
  @include rotate(180deg);
}

.right { // right circle starts on left then flips 50% to right
  background: $circle-bg;
  clip: rect(0, ($size / 2), $size, 0);
  @include rotate(0deg); 
}

$time: 2s;

.streak1 .left{
    animation:         left1 $time linear 1;
    -webkit-animation: left1 $time linear 1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;
}

.streak2 .left {
    animation:         left2 $time linear 1;
    -webkit-animation: left2 $time linear 1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;
}

.streak3 {
  .left  {
    animation:         left3 $time linear 1;
    -webkit-animation: left3 $time linear 1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;
  }
  .right {
    animation:         right3 $time linear 1;
    -webkit-animation: right3 $time linear 1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;
  }
}

.streak4 {
  .left  {
    animation:         left3 $time linear 1;
    -webkit-animation: left3 $time linear 1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;
  }
  .right {
    animation:         right4 $time linear 1;
    -webkit-animation: right4 $time linear 1;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;
  }
}

@keyframes left1 {
  0%   { @include rotate(-180deg); }
  20%  { @include rotate(-108deg); }
  100% { @include rotate(-108deg); }
}
@-webkit-keyframes left1 {
  0%   { @include rotate(-180deg); }
  20%  { @include rotate(-108deg); }
  100% { @include rotate(-108deg); }
}

@keyframes left2 {
  0%   { @include rotate(-180deg); }
  40%  { @include rotate(-36deg); }
  100% { @include rotate(-36deg); }
}
@-webkit-keyframes left2 {
  0%   { @include rotate(-180deg); }
  40%  { @include rotate(-36deg); }
  100%  { @include rotate(-36deg); }
}

@keyframes left3 {
  0%   { @include rotate(-180deg); }
  50%  { @include rotate(0deg); }
  100% { @include rotate(0deg); }
}
@-webkit-keyframes left3 {
  0%   { @include rotate(-180deg); }
  50%  { @include rotate(0deg); }
  100%  { @include rotate(0deg); }
}

@keyframes right3 {
  0%     {@include rotate(0deg);}
  50%    {@include rotate(0deg);   background-color: $circle-bg;}
  50.01% {@include rotate(180deg); background-color: $circle-meter;}
  100%   {@include rotate(216deg); background-color: $circle-meter;}
}

@-webkit-keyframes right3 { 
  0%     {@include rotate(0deg);}
  50%    {@include rotate(0deg);   background-color: $circle-bg;}
  50.01% {@include rotate(180deg); background-color: $circle-meter;}
  60%    {@include rotate(216deg); background-color: $circle-meter;}
  100%   {@include rotate(216deg); background-color: $circle-meter;}
}

@keyframes right4 {
  0%     {@include rotate(0deg);}
  50%    {@include rotate(0deg);   background-color: $circle-bg;}
  50.1%  {@include rotate(180deg); background-color: $circle-meter;}
  80%    {@include rotate(288deg); background-color: $circle-meter;} 
  100%   {@include rotate(288deg); background-color: $circle-meter;}
}

@-webkit-keyframes right4 { 
  0%     {@include rotate(0deg);}
  50%    {@include rotate(0deg);   background-color: $circle-bg;}
  50.1%  {@include rotate(180deg); background-color: $circle-meter;}
  80%    {@include rotate(288deg); background-color: $circle-meter;} 
  100%   {@include rotate(288deg); background-color: $circle-meter;}
}


//        _              _           _  _   
//       (_)            | |        _| || |_ 
//   ___  _  _ __   ___ | |  ___  |_  __  _|
//  / __|| || '__| / __|| | / _ \  _| || |_ 
// | (__ | || |   | (__ | ||  __/ |_  __  _|
//  \___||_||_|    \___||_| \___|   |_||_|  


// $circle

.circle-number {
	$circle-size: 20px;

	display: inline-block;
	position: relative;
	width: 18px;
	text-align: center;
	color: #FFF;

	&:before {
		@extend %pseudo;
		z-index: -1;
		height: $circle-size;
		width:  $circle-size;
		left: 50%;
		margin-left: -$circle-size / 2;
		margin-top: -2px;
		background: $orange;
		@include border-radius(100%);
	}
}

.submit-stats {
	font-size: 12px;
	font-weight: 500;

	@include breakpoint ($med) {
		margin-bottom: 20px;
	}
}


//               __                           _ 
//              / _|                         | |
//  _ __   ___ | |_   ___  _ __  _ __   __ _ | |
// | '__| / _ \|  _| / _ \| '__|| '__| / _` || |
// | |   |  __/| |  |  __/| |   | |   | (_| || |
// |_|    \___||_|   \___||_|   |_|    \__,_||_|
                                             
                                             
// $referral

.share-address-title {
	margin-top: 20px;
	i {
		font-size: 20px;
		line-height: 0.3em;
		display: inline-block;
		margin-right: 2px;
	}
}

.referral-content {
	// @include breakpoint($desktop) {padding-left:0; padding-right: 0;}
	h2 {
		font-size: 18px;
		line-height: 1.4em;
		@include breakpoint ($desktop) {font-size: 24px;}
	}
}

.share-address {margin-bottom: 20px;}

.tshirt {
	max-width: 320px;
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 100%;

	@include breakpoint ($desktop) {
		max-width: none;
		margin: 0;
	}
}


//                        _ 
//                       | |
//  ___   ___  _ __    __| |
// / __| / _ \| '_ \  / _` |
// \__ \|  __/| | | || (_| |
// |___/ \___||_| |_| \__,_|
                         

// $Send

.cheers-as { // button toggle for cheers as
	display: block !important;
	width: 100%;
	margin-bottom: 10px;

	@include breakpoint($med) {margin-bottom: 0;}

	.btn {
		width: 100%;
		text-align: left;
		// font-size: 12px;
		text-shadow: none;

		@include breakpoint ($med) { // convert to horizontal button group
			width: auto;
			float: left;
		}
	}

	&.btn-group-vertical>.btn:first-child { // convert to horizontal button group
		@include breakpoint ($med) {
			@include border-radius(4px 0 0 4px);
		}
	}

	&.btn-group-vertical>.btn:last-child { // convert to horizontal button group
		@include breakpoint ($med) {
			@include border-radius(0 4px 4px 0);
			margin-top: 0;
		}
	}

	&.btn-group .btn.active, {background: #899ca5;}
	&.btn-group .btn:active {background: #899ca5;}
}

.submit-cheer {margin-bottom: 20px;}

.add-cheer {margin-bottom: 10px;}

.cheers-confirmation { // confirms sent cheer
	display: none; // hidden on load
	text-align: center;
	font-size: $size-4;
	line-height: 1.4em;
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid #8fbd5a;
	background: #a9d773;
	color: #38541d;
	@include border-radius(5px);
	@include box-sizing(border-box);
	.js-active & {display: block;}

	@include breakpoint ($desktop) {font-size: $size-3; margin-bottom: 10px;}
}

.active-account {font-size: 12px;} // logged in as

.add-email { // email not on list link
	font-size: 12px;
	i {font-size: 8px;}
}









