// Breakpoint

$desktop: 768px;

// Global Spacing

$mbl-pad:    10px;
$mbl-margin: 20px;

// Wells

$well-pad: 		14px;
$tight-pad: 	 8px;

// Font Sizing

$size-0: 60px;
$size-2: 24px;


%font-awesome {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

// Colors

$orange: 		#eb742c;
$royal:     	#3a87ad;
$light-blue: 	#d9edf7;
$grey-blue:     #8ca7b4;
$blue-dark: 	#4f6e7e;
$red-alert:   	#c47a7f;

%pseudo {
	position: absolute;
	content: '';
}

%fill {
	top: 	0;
	bottom: 0;
	right: 	0;
	left: 	0;
}

.well--pad, .well--tight {
	@include box-shadow(none);
}

.well--pad {
	padding: $well-pad;
}

.well--tight{
	padding: $tight-pad;
}

.top-text {margin-top: 		0;}
.btm-text {margin-bottom:   0;}

textarea {
	resize: none;
}


