.hide {
  display: none;
}

// layout 

.pull-left  {float: left;}
.pull-right {float: right;}

.center {
  text-align: center;
}

.pad-btm {
  margin-bottom: 40px;
}

.push-btm       {margin-bottom: 40px;}
.push-btm-half  {margin-bottom: 20px;}