/*
 * Emigre web font kit 538a87046bdc8
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?PMrsI.html
 *
 * © 2012 Emigre, Inc
 */


@font-face {
    font-family: 'MrsEavesItalicRegular';
    src: url('mrseavita-080413005EmigreWebOnly.eot');
    src: url('mrseavita-080413005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('mrseavita-080413005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

